
<body>
                       
                   <div class="bmg C-Banner-img1">
                            <img src="https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Rectangle_21_150x.png?v=1688478639">
                            <span>{{block.settings.rx_store_email}}</span>
                          </div>
                    <div class="bmg C-Banner-img2">
                            <img src="https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Rectangle_22_150x.png?v=1688478639">
                            <span>{{block.settings.rx_store_email}}</span>
                          </div>
                    <div class="bmg C-Banner-img2">
                            <img src="https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Rectangle_23_150x.png?v=1688478640">
                            <span>{{block.settings.rx_store_email}}</span>
                          </div>
                    

</body>


{% schema %}
 {
  "name": "Coaches Main",
  "tag": "section",
  "class": "section video_slider",
  "settings": [
    {
      "type": "text",
      "id": "testhead",
      "label": "Heading"
    }
    ,  {
      "type": "text",
      "id": "testdes",
      "label": "Sub Heading"
    } ,
    {
        "type": "text",
    "id": "coachbtn",
    "label": "Button"
       },
        {
        "type": "url",
    "id": "coachurl",
    "label": "Button Link"
       }
  ],
   "blocks": [
  {
    "type": "block",
    "name": "block",
    "settings": [
     {
      "type": "url",
      "id": "test_url1",
      "label": "Video URL"
    },
       {
    "type": "text",
    "id": "textid",
    "label": "Heading"
      }
      
    ]
  }
    ],
 "presets": [
    {
      "name": "Coaches Main"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}