{{ 'course-test.css' | asset_url | stylesheet_tag }}

<div class="course_list">
  <h1>{{ section.settings.course_heading }}</h1>
  <div class="courses">
    {% for product in collection.products %}
   {% for collection in product.collections %}
      <div>{{collection.title}}</div>
   {% endfor %}
{% endfor %}
  </div>
</div>










{% schema %}
  {
    "name": "Course List",
    "settings": [
      {
        "type" : "text",
        "id" : "course_heading",
        "label" : "Add Heading For Section"
      },
      {
        "type" : "richtext",
        "id" : "course_subheading",
        "label" : "Add Sub Heading For Section"
      }
    ],
    "presets" : [
      {
        "name" : "Course List"
      }
    ]
  }
{% endschema %}
