<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  
}
.gg{
display: flex;

}
.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;

}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
.checked {
  color: orange;
}

</style>
</head>
<body>

<h2>Responsive Testimonials</h2>
<p>Resize the browser window to see the effect.</p>
<div class="gg">
<div class="container">
  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:550px">

</div>

<div class="container">
  

  <p><span>Rebecca Flex.</span> CEO at Company.</p>
  <p>No one is better than John Doe.</p>
  
  <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
</div>
</div>
</body>
</html>


{% schema %}
{
"name": "custom rating",

"settings": [
{
     "type": "text",
    "id": "starreviewhead",
    "label": "starheadreview"
}
],
"blocks":[
{
"type" : "block",
"name" : "block",
"settings" : [
               {
    "type": "image_picker",
    "id": "mainimage",
    "label": "Image"
      },
{
            "type": "range",
            "id": "rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Rating",
            "info": "Set less than '1' to disable Rating.",
            "default": 5
          },
    {
        "id" : "confimed",
        "type" : "text",
        "label" : "Revie Detail"
      },
  {
        "id" : "confimedp",
        "type" : "text",
        "label" : "Revie Detail"
      },
  {
        "id" : "signtext",
        "type" : "text",
        "label" : "text"
      }
]
}

],
"presets" : [
{
  "name" : "custom ratings ",
  "category" : "Testimonials"

  }
]
}
{% endschema %}

