<style>
  .d_flex_main{
    display:flex;
  }
  .width50_cou{
    width:50%
  }
</style>
<section>
  {% assign product = section.settings.product %}
  {% for image in product.images %}
    {{ product.title }}
    {{ product.price | money_without_trailing_zeros }}
    {{ product.vendor }}

    <div class="d_flex_main">
      <div class="width50_cou"></div>
      <div class="width50_cou">
        <img src="{{ image.src | product_img_url: 'grande' }}">
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Image With text Cources",
  "settings": [
       {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
  ],
  "blocks": [
{
  "type": "collection",
  "name": "Collection",
  "settings": [

       {
  "type": "text",
  "id": "txet_blog",
  "label": "Text"
    }
  ]
}
  ],
  "presets": [
  {
  "name": "Image With text Cources"
  }
  ]
}
{% endschema %}
