

<div class="product_banner">
</div>







{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Add Section Heading"
      }
    ]
  }
{% endschema %}