
{{ 'course-test.css' | asset_url | stylesheet_tag }}





<div class="product_banner">
  <div class="product_box">
  {% if section.settings.heading != blank %}
    <h1>{{ section.settings.heading }}</h1>
  {% endif %}
  </div>
  <div class="product_detailing_area">
    
  </div>
</div>







{% schema %}
  {
    "name": "Product Banner",
    "settings": [
      {
        "type" : "text",
        "id" : "heading",
        "label" : "Add Section Heading"
      },
      {
        "type" : "product",
        "id" : "product",
        "label" : "Add Product"
      }
    ],
    "presets" : [
      {
        "name" : "Product Banner"
      }
    ]
  }
{% endschema %}