.announcement-bar {
  background-color: green;
  text-align: center;
  font-family: 'BLT-Heirloom', sans-serif;
}

.announcement-bar__link {
  color: inherit;
  text-decoration: none;
}

.announcement-bar__message {
  margin: 0;
  padding: 10px 0;
}
