 /* product banner section  */
.main_container{
  display : flex;
  justify-content : right;
  padding-right : 12%;
  margin-bottom : 60px;
}

.product_banner_main_box{
  max-width : 1146px;
  width : 100%;
  padding : 0;
}
.product_box>h1{
  text-align : center;
  color: #184B44;
  font-family: 'Oakley Script';
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 1.28px;
}
.product_detailing_area{
  background-color : #F5F8F1;
  border-radius : 24px;
  padding : 65px 45px;
  display : flex;
  justify-content : space-between;
}
.product_detailing_area>h3{
  color: #1E1E1E;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.6px;
}
.product_small_image{
  width : 100%;
  border-radius : 24px;
}
.product_image_box{
  width : 40%;
  border-radius : 24px;
  margin-right : -80px;
}
.product_banner_content{
  width : 60%;
}
.product_banner_desc{
  width : 80%;
}
.product_banner_desc>h2{
  color: #2E2A39;
  font-family: Lato;
  font-size: 20.438px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
  letter-spacing: 0.6px;
}
.banner_product_price_button{
  display : flex;
  padding : 50px 0;
}
.banner_product_price{
  width : 30%;
  color: #1E1E1E;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
}