
#caoches-page-1 .rich-text {
    background: #2d4b49;
}
#caoches-page-1 .banner__media {
    background: #2d4b49;
}

#caoches-page-1 .image-with-text__grid img {
    background: #fdc530;
}
#caoches-page-1 .image-with-text__grid {
    background: #fdc530;
}
#ImageWithText--template--14937311805505__4bfccfaa-3f9e-46b0-8181-28ca8346e59c {
    background: #fdc530;
}
#caoches-page-1 .rich-text__text {
    color: white;
}
#caoches-page-1 .rich-text__heading {
    font-family: BLT-Heirloom !important;
    color: white;
}

#caoches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding {
    background: white;
}
#caoches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary {
    border-radius: 50px;
    background: #a6b7ff;
}
#caoches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary svg {
    display: none;
}
#caoches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .rich-text__heading {
    color: #2d4b49;
}
#caoches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .rich-text__text {
    color: #2d4b49;
}
#caoches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .button--primary{
    color: #184B44;
    background: none;
    border-radius: 50px;
    border: solid 2px #184B44;
}
#caoches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .button--primary svg{
    display: none;
}
#caoches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__blocks{
    max-width: 150rem !important;
}

#become-a-certified-holistic-pet-health-coach-dr-ruth-roberts .section-template--14921794486337__38bceb66-17fa-4539-8d15-e78489d9a302-padding .rich-text__heading{
  padding: 15px;
}
    
           