
#coaches-page-1 .rich-text {
    background: #2d4b49;
}
#coaches-page-1 .banner__media {
    background: #2d4b49;
}



#coaches-page-1 .rich-text__heading {
    font-family: BLT-Heirloom !important;
    color: white;
}

#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding {
    background: white;
}
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary {
    border-radius: 50px;
    background: #a6b7ff;
    color: #2d4b49;
}
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary svg {
    display: none;
}

#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__text {
    color: white;
    margin-top: -6px;
}

#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__blocks{
    max-width: 150rem !important;
}
/*Banner page 1 image adjust*/
#shopify-section-template--14937311805505__d490cb76-46ac-4bb2-832c-c029560ed07c{
    padding: 50px;
    background: #2d4b49;
}

#become-a-certified-holistic-pet-health-coach-dr-ruth-roberts .section-template--14921794486337__38bceb66-17fa-4539-8d15-e78489d9a302-padding .rich-text__heading{
  padding: 20px;
}

/*Nav Menu Center*/
.header--middle-left{
  grid-template-columns: 1fr auto 1fr !important;
}
.header--middle-left .header__inline-menu {
  margin-top: 10px;
}






           