iframe#admin-bar-iframe {
    display: none !important;
}
button.needsclick.kl-teaser-VBv2Nx.undefined.kl-private-reset-css-Xuajs1 {
    margin-bottom: 90px !important;
}

.rx-testimonial-item-inner a {
    text-decoration: none;
}

/* Homepage */

#shopify-section-template--14921793798209__40e124d8-821b-4b01-8eb8-2482449db53a .rx-product-list-container {
    padding-bottom: 0;
}

/* Pet Care Protocols */

#pet-care-protocols .collection-list-title {
    font-family: "BLT-Heirloom";
    text-align: center;
    font-size: 34px;
}
#pet-care-protocols .banner__box {
    width: 100%;
}
#pet-care-protocols .banner__box .banner__text.body {
    max-width: 500px;
    margin: 20px auto 0;
}
#pet-care-protocols .card__information {
    background: #fff;
    border: 1px solid #000 !important;
    width: 85%;
    margin: 0 auto;
    border-radius: 100px;
    padding: 12px 20px !important;
}
#pet-care-protocols h3.card__heading {
    font-size: 12px !important;
    text-transform: uppercase;
    font-family: 'Josefin Sans' !important;
    letter-spacing: 0.4px;
    text-align: center !important;
    line-height: 1.2 !important;
}
#pet-care-protocols .card-wrapper a.full-unstyled-link span {
    display: none;
}

#shopify-section-template--14921794420801__a1dcd6d6-0738-402f-bfec-56f09d6583b8 .color-background-1.gradient {
    background: #f5f8f1;
}
#shopify-section-template--14921794420801__a1dcd6d6-0738-402f-bfec-56f09d6583b8 .card__inner.color-background-2.gradient.ratio {
    border-radius: 16px !important;
    overflow: hidden;
}
#shopify-section-template--14921794420801__a1dcd6d6-0738-402f-bfec-56f09d6583b8 .card-wrapper a.full-unstyled-link {
    max-width: 120px;
    margin: 0 auto;
}

#shopify-section-template--14921794420801__1655751929e34d4e57 .card-wrapper .card__media {
    border: 1px solid #000;
    border-radius: 30px;
}
#shopify-section-template--14921794420801__1655751929e34d4e57 .card-wrapper .card__media img {
    padding: 20px
}
#shopify-section-template--14921794420801__1655751929e34d4e57 .card__information {
    background: #e0ecbe;
}

/* Pet Advice */

.rewordmax_container {
    max-width: 1200px !important;
}
section#shopify-section-template--14921792258113__836a1838-39d3-4804-9b8f-570cc2fbf531 {
    border-top: 1px solid #f5f8f1;
}
div#shopify-section-template--14921792258113__febdc93f-b5f0-4728-b425-acf1d35080a9 {
    border-top: 1px solid #f5f8f1;
    margin-top: 50px;
}
section#shopify-section-template--14921792258113__5b6a95e7-7095-4def-81d5-7f0546063d53 .blogbodr2 {
    padding-top: 0;
    padding-bottom: 100px;
}
.slick-slide h3.petvaudiott,
.slick-slide h3.webinartitle,
.slick-slide h3.petvideott {
    font-size: 18px !important;
    text-transform: uppercase;
    font-family: 'Josefin Sans' !important;
    letter-spacing: 0.4px;
    line-height: 1.4 !important;
    margin-top: 25px;
}
.slick-slide h3.webinartitle,
.slick-slide h3.petvideott  {
    margin-top: 20px;
    line-height: 1.8 !important;
}
.slick-slide h3.petvideott  {
    text-align: center;
}

/* Consultation Page */

section#shopify-section-template--14969681084481__f20ac99b-64d9-4f94-9722-95cf6c742a76 .banner__media img {
    object-position: 50% 40%;
    width: 100%;
    height: 100%;
}
section#shopify-section-template--14969681084481__f20ac99b-64d9-4f94-9722-95cf6c742a76 {
    margin-top: 20px;
}

.list-numbers ul ol {
   list-style: none;
   counter-reset: item;
   padding: 0;
   margin-top: -20px;
   font-family: 'Josefin Sans';
   letter-spacing: 0;
   color: #000;
   font-size: 18px;
 }
.list-numbers ul ol li {
   counter-increment: item;
   margin-bottom: 5px;
   font-weight: normal;
   margin-left: 40px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #184B44;
   position: relative;
 }
.list-numbers ul ol li strong {
  text-transform: uppercase;
}
.list-numbers ul ol li:before {
   content: counter(item);
   color: #184B44;
   position: absolute;
   left: -40px;
   top: -10px;
   font-family: 'Oakley Script';
   font-size: 50px;
 }

