iframe#admin-bar-iframe {
    display: none !important;
}
button.needsclick.kl-teaser-VBv2Nx.undefined.kl-private-reset-css-Xuajs1 {
    margin-bottom: 90px !important;
}

/* Homepage */

#shopify-section-template--14921793798209__40e124d8-821b-4b01-8eb8-2482449db53a .rx-product-list-container {
    padding-bottom: 0;
}

/* Pet Care Protocols */

#shopify-section-template--14921794420801__a1dcd6d6-0738-402f-bfec-56f09d6583b8 .color-background-1.gradient {
    background: #f5f8f1;
}
#pet-care-protocols .collection-list-title {
    font-family: "BLT-Heirloom";
    text-align: center;
    font-size: 34px;
}