/*Home page banner Pet Advice*/
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__media{
      
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Group_1_1bcba6ba-16a9-4fc9-bc76-acf062406664_430x.png?v=1688549752#) !important;
    background-color: transparent !important;
    background-size: 733px !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;

}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__buttons{
    
    justify-content: center;
    gap: 5.824px;
    flex-shrink: 0; 
    border-radius: 25.624px;
    background: #A6B7FF; 
    color: #2D4B49;
    font-family: BLT-Heirloom;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 51.085px;
    

}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .button--primary{
    border: none !important;
  color: #2d4b49;
}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .button--primary svg{
      display: none;
}

#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__box{
   margin-left: 0px !important;

}


#shopify-section-template--14937751814209__f0e23169-5134-4565-9873-7cd58bc042a9{
  display: block ruby;
}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__media svg{
  display: none;
}
#shopify-section-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5{
  background: #2d4b49;
}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__heading .imghead{ 
  color: #FFF;
  font-size: 61.908px;
  font-family: BLT-Heirloom;
  font-style: normal;
  font-weight: 300;
  line-height: 65.917px;
  text-transform: capitalize; 

}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .imagedes{
  color: #FFF;
  font-size: 18px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 27.034px; 
}

#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__heading{ 

  text-align: left !important;
}
#coaches-home-page #Banner-template--14937751814209__3ac46ddb-f068-497f-93b7-9cd2136791f5 .banner__text{
  
  text-align: left !important;
}

/*Home page banner section 2*/
#coaches-home-page .section-template--14937751814209__6b2946dd-f39e-4224-b59c-2a0d194d9616-padding .rich-text__heading{
  color: #2D4B49;
  text-align: center;
  font-size: 61.908px;
  font-family: BLT-Heirloom;
  font-style: normal;
  font-weight: 300;
  line-height: 65.917px;
  text-transform: capitalize; 
}
#coaches-home-page .section-template--14937751814209__6b2946dd-f39e-4224-b59c-2a0d194d9616-padding .rich-text__text{
  color: #1E1E1E;
  text-align: center;
  font-size: 18px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 26.034px; 
}

#coaches-home-page #Slider-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1 .multicolumn-card{
 background: #97ae9a;
}

#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-4{
  margin-left: 18%;
  padding: 12px;
  width: 352px;
  height: 352px;
  flex-shrink: 0; 
}
#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-2{
  padding: 12px;
  width: 352px;
  height: 352px;
  flex-shrink: 0; 
}
#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-3{
  padding: 12px;
  width: 352px;
  height: 352px;
  flex-shrink: 0; 
}
#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-5{
  padding: 12px;
  width: 352px;
  height: 352px;
  flex-shrink: 0; 
}
#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-1{
  padding: 12px;
  width: 352px;
  height: 352px;
  flex-shrink: 0; 
}
#coaches-home-page #Slider-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1 h3{
  color: var(--style, #1E1E1E);
  text-align: center;
  font-size: 32px;
  font-family: BLT-Heirloom;
  font-style: normal;
  font-weight: 300;
  line-height: 32.593px; 
}
#coaches-home-page #Slider-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1 p{
  color: var(--style, #1E1E1E);
  text-align: center;
  font-size: 16px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 24.444px; 
}
#coaches-home-page .section-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-padding .button--primary{
  color: var(--style, #1E1E1E);
/* bottom */
  font-size: 14px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 4.2px;
  text-transform: uppercase; 
  background: none !important;
  border-radius: 50px !important;
  border: solid 2px #2d4b49 !important;
 
}

/*Home page section 3*/


#coaches-home-page #shopify-section-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e .section-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-padding{

    background: var(--gradient-background);
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Group_1_6bf642d4-d490-44ed-b4b0-baabd744ce61.png?v=1688561682&width=3840) !important;
    background-color: transparent !important;
    background-position: top left !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
}

#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e .multicolumn-card{
    background: none;
}

#coaches-home-page .section-template--14937751814209__da26dabf-6762-4369-9f3c-0976a5eded34-padding .rich-text__heading {
    color: #2D4B49;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}
#coaches-home-page .section-template--14937751814209__da26dabf-6762-4369-9f3c-0976a5eded34-padding .rich-text__text {
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 26.034px; 
}
#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e h3{
    color: var(--style, #1E1E1E);
    font-size: 24.765px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 33.019px; 
}
#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e p{
    color: var(--style, #1E1E1E);
    text-align: justify !important;
    font-size: 15px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.573px; 
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-1{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
    
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-2{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
  
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-3{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
   
 
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-4{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
   
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-5{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
 
 
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-6{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
  
  
}

#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-1 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-3 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-5 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}

#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-2 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-4 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-6 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;

}

#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e{
    margin-top: -56px;

}

#coaches-home-page #Banner-template--14937751814209__611aca1b-1c32-433c-b02e-b51ba1a09f1e .banner__media{
    background: none;
   /* margin-top: -1202px; */
}


#coaches-home-page #shopify-section-template--14937751814209__611aca1b-1c32-433c-b02e-b51ba1a09f1e{
    /* padding: 430px; */
}

#coaches-home-page .section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845-padding .image-with-text__media-item{
    width: 10px;
}

/* Home page blog section */
#coaches-home-page .section-template--14937751814209__8ae142a3-fab7-4889-9433-d9dbb0db392a-padding .title-wrapper-with-link{
    text-align: center !important;
    display: block;

    color: #2D4B49;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 400;
    line-height: 65.917px;
    text-transform: capitalize; 
  
}

#coaches-home-page .section-template--14937751814209__8ae142a3-fab7-4889-9433-d9dbb0db392a-padding .title-wrapper-with-link .h1{
    color: #2D4B49;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 400;
    line-height: 65.917px;
    text-transform: capitalize; 
  
}

#coaches-home-page #Slider-template--14937751814209__8ae142a3-fab7-4889-9433-d9dbb0db392a .card__inner{
    height: 377px;
}
#coaches-home-page .section-template--14937751814209__717906c2-8187-4068-835b-4ee8ee6b7a48-padding .button--primary{
    border-radius: 25.5px;
    border: 2px solid var(--1, #184B44); 
    color: var(--style, #1E1E1E);
/* bottom */
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 4.2px;
    text-transform: uppercase; 
    width: 373px;
    height: 51px;
    flex-shrink: 0; 
    align-items: center;
    gap: 66px;
    background: none;
    margin-top: -10px;
}
#coaches-home-page .slider-buttons{
    margin-top: -79px;
}

#coaches-home-page .section-template--14937751814209__717906c2-8187-4068-835b-4ee8ee6b7a48-padding{
  /* margin-top: -38px; */
}

/* Home page last section */

#coaches-home-page .section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845-padding .image-with-text__media-item{
    width: 188px;
}
#coaches-home-page #ImageWithText--template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845{
   background: #abc5ae;

}
#coaches-home-page .section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845-padding .image-with-text__media img{
   background: #abc5ae;

}
#coaches-home-page .section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845-padding{
   background: #abc5ae;
   border-radius: 50px;
}
#coaches-home-page #ImageWithText--template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__heading{
    color: #2D4B49;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}

#coaches-home-page #ImageWithText--template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__text{
    color: #1E1E1E;
    font-size: 13.545px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 19.591px; 
}

#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__media{
    
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/image_4_6114c6cf-5417-426c-8e2f-55c22b1c8868_150x.png?v=1688564665) !important;
    background-color: transparent !important;
    background-size: 333px !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
   

}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .button--primary svg{
    display:none;

}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__text-item{
    padding-left: 0px !important;
}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__grid{
    margin: 0px !important;
}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__text{
    padding-right: 0px !important;
}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__media-item{
    background: #abc5ae;
  
}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__media--adapt .placeholder-svg path{
    
    display: none;

}
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845{
    padding-bottom: 60px;
}

#coaches-home-page #shopify-section-template--14937751814209__8df4d345-ee7e-4d44-aea5-db81d7daa6ee .container img{

}
/* Added custom section */
 .bmg img{
    
    max-width: 100%;
height: 400px;
 }
/* Mobile Responsive */
/*----------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1289px) {
  

    #coaches-home-page #shopify-section-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e .section-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-padding{

    background: var(--gradient-background);
    background-attachment: cover;
    background-image: url("") !important;
    background-color: transparent !important;
    background-position: top left !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
}



#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e .multicolumn-card{
    background: none;
}





#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-1{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
    
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-2{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
  
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-3{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
    margin-top: -39px;
 
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-4{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
    margin-top: -39px;
}

#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-5{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
 
 
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-6{
    padding-left: 0px;
    padding-right: 0px;
    background: none;
  
  
}

#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-1 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-3 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-5 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;

}

#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-2 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;
}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-4 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;

}
#coaches-home-page #Slide-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e-6 .multicolumn-card{
    margin-left: 0px;
    margin-right: 0px;

}

#coaches-home-page #Slider-template--14937751814209__e1e9826a-371c-43e4-a3d2-a88b2fd16e3e{
    margin-top: -56px;

}
  
      }


@media screen and (max-width: 1000px) {
#coaches-home-page #Slide-template--14937751814209__5c33b42b-d3e2-421f-9b72-f4dd25a4d2e1-4{
        margin-left: 0px;
        }
  
}
@media screen and (max-width: 980px) {
#coaches-home-page #shopify-section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845 .image-with-text__media{
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/image_4_6114c6cf-5417-426c-8e2f-55c22b1c8868_150x.png?v=1688564665) !important;
    background-color: transparent !important;
    background-size: 213px !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
   
}
  
}
  
/*----------------------------------------------------------------------------------------------------------------------------------------*/


/*Banner coaches page 1*/
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding {
    background: #2d4b49;
}
#coaches-page-1 .banner__media {
    background: #2d4b49;
}

#Banner-template--14937311805505__d490cb76-46ac-4bb2-832c-c029560ed07c{
  margin-top: -110px;
}
/* First text*/
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__heading {
    color: #FFF;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
    margin-bottom: 16px;
}
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__text {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-size: 15.029px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.034px; 
    margin-top: -6px;
}
#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .rich-text__heading{
    color: #2D4B49;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}

#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .rich-text__text{
    color: #1E1E1E;
    text-align: center;
    font-size: 15.029px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.034px;
}
#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .button--primary{
    color: var(--style, #1E1E1E);
/* bottom */
    font-size: 14px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 4.2px;
    text-transform: uppercase; 
    background: none;
    border: solid 2px #2d4b49;
    border-radius: 50px;
}
/* Second text*/
#coaches-page-1 .section-template--14937311805505__9dada5cc-fc40-492e-86a1-8bd668ef1cbf-padding .rich-text__heading{
    color: #2D4B49;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize;
}

#coaches-page-1 .section-template--14937311805505__9dada5cc-fc40-492e-86a1-8bd668ef1cbf-padding .rich-text__text{
    color: #1E1E1E;
    text-align: center;
    font-size: 15.029px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.034px;
}
#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding .button--primary svg{
    display:none;
  
}

#coaches-page-1 .section-template--14937311805505__534eb2ad-c509-4d10-9467-b66bcd445587-padding {
    background: white;
}
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary {
    border-radius: 50px;
    background: #a6b7ff;
    color: #2d4b49;
}
#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .button--primary svg {
    display: none;
}



#coaches-page-1 .section-template--14937311805505__9f3948d0-de6f-4f06-ae1d-6c4e6beed0e5-padding .rich-text__blocks{
    max-width: 150rem !important;
}
/*Banner page 1 image adjust*/
#shopify-section-template--14937311805505__d490cb76-46ac-4bb2-832c-c029560ed07c{
    padding: 40px;
    background: #2d4b49;
}

#become-a-certified-holistic-pet-health-coach-dr-ruth-roberts .section-template--14921794486337__38bceb66-17fa-4539-8d15-e78489d9a302-padding .rich-text__heading{
  padding: 20px;
}

/*Nav Menu Center*/
.header--middle-left{
  grid-template-columns: 1fr auto 1fr !important;
}
.header--middle-left .header__inline-menu {
  margin-top: 10px;
}

#coaches-page-1 .section-template--14937311805505__4e4ded4d-ded3-468a-ade7-88b2d92f34e0-padding .rich-text__heading{
    color: white;
    text-align: center;
    font-family: BLT-Heirloom;
    font-size: 61.908px;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
    padding-top: 50px;
}
#coaches-page-1 .section-template--14937311805505__4e4ded4d-ded3-468a-ade7-88b2d92f34e0-padding .rich-text__text{
    color: #1E1E1E;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.034px; 
    padding-bottom: 65px;
}

/* 3rd section of coaching page*/
#coaches-page-1 #shopify-section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd .section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd-padding{

    background: var(--gradient-background);
    background-attachment: cover !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Dr_Ruth_Roberts_-_Coaching_Pages_150x.png?v=1688483372) !important;
    background-color: transparent !important;
    background-size: 500px !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
   
}

#coaches-page-1 #shopify-section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd .multicolumn-card{
    background: none;
}
#coaches-page-1 .section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd-padding .multicolumn-card{
 
margin-top: -20px

}
#coaches-page-1 .section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd-padding .rich-text__heading {
    color: #2D4B49;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}
#coaches-page-1 .section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd-padding .rich-text__text {
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 26.034px; 
}
#coaches-page-1 #Slider-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd h3{
    color: var(--style, #1E1E1E);
    font-size: 24.765px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 33.019px; 
}
#coaches-page-1 #Slider-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd p{
    color: var(--style, #1E1E1E);
    text-align: justify !important;
    font-size: 15px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.573px; 
}
#coaches-page-1 .section-template--14937311805505__89de9d09-bc4b-41ea-97c3-4bc536fb44fd-padding{
    padding-bottom: 250px;
}


/*Coaches page 1 last 3rd section*/
#coaches-page-1 .section-template--14937311805505__d5a2c720-aba5-48e1-a191-0f234a43e439-padding{
 
  background: #abc5ae;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

#coaches-page-1 .section-template--14937311805505__4e4ded4d-ded3-468a-ade7-88b2d92f34e0-padding .rich-text__wrapper--center{
  background: #abc5ae;
  margin-bottom: -53px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
#coaches-page-1 .section-template--14937311805505__4e4ded4d-ded3-468a-ade7-88b2d92f34e0-padding .rich-text__blocks{

  max-width: 100% !important;
}
#coaches-page-1 #Slide-template--14937311805505__d5a2c720-aba5-48e1-a191-0f234a43e439-1 .multicolumn-card{
  background: #abc5ae;
  border: 5px solid white;
  border-radius: 80px;
}

#coaches-page-1 #Slide-template--14937311805505__d5a2c720-aba5-48e1-a191-0f234a43e439-2 .multicolumn-card{
  background: #abc5ae;
  border: 5px solid white;
  border-radius: 80px;
}








/*Coaches page 1 last section*/

#coaches-page-1 .section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68-padding .image-with-text__media-item{
    width: 188px;
}
#coaches-page-1 #ImageWithText--template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68{
   background: #abc5ae;

}
#coaches-page-1 .section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68-padding .image-with-text__media img{
   background: #abc5ae;

}
#coaches-page-1 .section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68-padding{
   background: #abc5ae;
   border-radius: 50px;
}
#coaches-page-1 #ImageWithText--template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__heading {
    color: #2D4B49;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 600;
    line-height: 65.917px;
    text-transform: capitalize; 
}

#coaches-page-1 #ImageWithText--template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__text p{
    color: black;
    font-size: 17.545px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 19.591px; 
}

#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__media{
    
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/image_4_6114c6cf-5417-426c-8e2f-55c22b1c8868_150x.png?v=1688564665) !important;
    background-color: transparent !important;
    background-size: 333px !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
   

}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .button--primary svg{
    display:none;

}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__text-item{
    padding-left: 0px !important;
}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__grid{
    margin: 0px !important;
}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__text{
    padding-right: 0px !important;
}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__media-item{
    background: #abc5ae;
  
}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68 .image-with-text__media--adapt .placeholder-svg path{
    
    display: none;

}
#coaches-page-1 #shopify-section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68{
    padding-bottom: 60px;
}
#coaches-page-1 .section-template--14937311805505__2d45edfa-bf59-4040-a1e6-eb755c54bf68-padding .button--primary{
    color: #2D4B49 !important;
}







/*======================================================================================================================*/
/*Home Page Coaches*/

#home-page-coaches .section-template--14938865434689__29c00ec2-c01f-4761-badc-f2f4b3db20b7-padding .rich-text__heading{
color: #2D4B49;
text-align: center;
font-family: BLT-Heirloom;
font-size: 61.908px;
font-style: normal;
font-weight: 300;
line-height: 65.917px;
text-transform: capitalize; 

}
#home-page-coaches #RX_ImageWithText--template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06{
background: #abc5ae;
}


#home-page-coaches .section-template--14938865434689__29c00ec2-c01f-4761-badc-f2f4b3db20b7-padding .rich-text__text{
color: #1E1E1E;
text-align: center;
font-family: Josefin Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26.034px; 
}
#home-page-coaches .section-template--14938865434689__b5296532-5fb5-4f6d-b195-bb7e7a845180-padding .rich-text__heading{
color: #2D4B49;
text-align: center;
font-family: BLT-Heirloom;
font-size: 61.908px;
font-style: normal;
font-weight: 300;
line-height: 65.917px;
text-transform: capitalize;

}

#home-page-coaches .section-template--14938865434689__b5296532-5fb5-4f6d-b195-bb7e7a845180-padding .rich-text__text{
color: #1E1E1E;
text-align: center;
font-family: Josefin Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26.034px; 
}

#home-page-coaches .rebuy-product-actions{
 display: none;
}

/*6th section*/
#home-page-coaches #shopify-section-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb .section-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-padding{

    background: var(--gradient-background);
    background-attachment: cover !important;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Group_1_6bf642d4-d490-44ed-b4b0-baabd744ce61.png?v=1688561682&width=3840) !important;
    background-color: transparent !important;
    background-position: top left !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: center !important;
}

#home-page-coaches #shopify-section-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb .multicolumn-card{
    background: none;
}
#home-page-coaches .section-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-padding .multicolumn-card{
 
margin-top: -20px

}
#home-page-coaches .section-template--14938865434689__a3836bec-fa69-49c3-8eb5-ea7d7a5a3234-padding .rich-text__heading {
    color: #2D4B49;
    text-align: center;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}
#home-page-coaches .section-template--14938865434689__a3836bec-fa69-49c3-8eb5-ea7d7a5a3234-padding .rich-text__text {
    color: #1E1E1E;
    text-align: center;
    font-size: 18px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 26.034px; 
}
#home-page-coaches #Slider-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb h3{
    color: var(--style, #1E1E1E);
    font-size: 24.765px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 33.019px; 
}
#home-page-coaches #Slider-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb p{
    color: var(--style, #1E1E1E);
    text-align: justify !important;
    font-size: 15px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18.573px; 
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-1{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
    
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-2{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
  
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-3{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
   
 
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-4{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
   
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-5{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
 
 
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-6{
    padding-left: 65px;
    padding-right: 65px;
    background: none;
  
  
}

#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-1 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-3 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-5 .multicolumn-card{
    margin-left: -128px;
    margin-right: 125px;

}

#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-2 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;
}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-4 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;

}
#home-page-coaches #Slide-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb-6 .multicolumn-card{
    margin-left: 128px;
    margin-right: -103px;

}

#home-page-coaches #Slider-template--14938865434689__0b8f6540-0805-4dd3-98aa-a1a0d6937cbb{
   

}

#home-page-coaches #Banner-template--14937751814209__611aca1b-1c32-433c-b02e-b51ba1a09f1e .banner__media{
    background: none;
   /* margin-top: -1202px; */
}


#home-page-coaches #shopify-section-template--14937751814209__611aca1b-1c32-433c-b02e-b51ba1a09f1e{
    /* padding: 430px; */
}

#home-page-coaches .section-template--14937751814209__97d53c83-a653-4616-bcc8-985a4da85845-padding .image-with-text__media-item{
    width: 10px;
}

/*Home Page Last section*/

#home-page-coaches .section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403-padding .image-with-text__media-item{
    width: 188px;
}
#home-page-coaches #ImageWithText--template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403{
   background: #abc5ae;

}
#home-page-coaches .section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403-padding .image-with-text__media img{
   background: #abc5ae;

}
#home-page-coaches .section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403-padding{
   background: #abc5ae;
   border-radius: 50px;
}
#home-page-coaches #ImageWithText--template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__heading{
    color: #2D4B49;
    font-size: 61.908px;
    font-family: BLT-Heirloom;
    font-style: normal;
    font-weight: 300;
    line-height: 65.917px;
    text-transform: capitalize; 
}

#home-page-coaches #ImageWithText--template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__text{
    color: #1E1E1E;
    font-size: 13.545px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 19.591px; 
}

#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__media{
    
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/image_4_6114c6cf-5417-426c-8e2f-55c22b1c8868_150x.png?v=1688564665) !important;
    background-color: transparent !important;
    background-size: 333px !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
   

}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .button--primary svg{
    display:none;

}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__text-item{
    padding-left: 0px !important;
}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__grid{
    margin: 0px !important;
}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__text{
    padding-right: 0px !important;
}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__media-item{
    background: #abc5ae;
  
}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403 .image-with-text__media--adapt .placeholder-svg path{
    
    display: none;

}
#home-page-coaches #shopify-section-template--14938865434689__ac13195c-53bc-424b-9b40-fe74d88a6403{
    padding-bottom: 60px;
}



/*Banner Home page ===========================================================================================*/


#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__media{
      
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url("") !important;
    background-color: transparent !important;
    background-size: 733px !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;

}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__buttons{
    
    justify-content: center;
    gap: 5.824px;
    flex-shrink: 0; 
    border-radius: 25.624px;
    background: white; 
    color: #2D4B49;
    font-family: BLT-Heirloom;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 51.085px;
    

}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .button--primary{
    border: none !important;
    color: #2d4b49;
}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .button--primary svg{
      display: none;
}

#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__box{
   margin-left: 0px !important;

}


#shopify-section-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965{
  display: block ruby;
}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__media svg{
  display: none;
}
#shopify-section-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965{
  background: #abc5ae;
}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__heading .imghead{ 
  color: #2d4b49;
  font-size: 61.908px;
  font-family: BLT-Heirloom;
  font-style: normal;
  font-weight: 600;
  line-height: 65.917px;
  text-transform: capitalize; 

}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .imagedes{
  color: #2d4b49;
  font-size: 18px;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 27.034px; 
}

#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__heading{ 

  text-align: left !important;
}
#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .banner__text{
  
  text-align: left !important;
}

#home-page-coaches #Banner-template--14938865434689__fc64388b-f9d8-4d17-acb7-0b14046cd965 .content-container{
  width: 100% !important;
  
}
#home-page-coaches #RX_ImageWithText--template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06{
	border-radius: 50px;
	margin-right: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#home-page-coaches #shopify-section-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06 .image-with-text__text-item{
	margin-bottom: 100px;
	margin-top: 100px;
	margin-right: -50px;
	z-index: 10;
	border-radius: 25px !important;
}
#home-page-coaches #shopify-section-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06 .rx_read_more_btn_green img{
	display:none;
}
#home-page-coaches #shopify-section-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06 .rx-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06 .dot{
  width: 20px !important;
  height: 20px;
  border: 2px solid #2d4b49;;
}
#home-page-coaches .section-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06 .rx-img-with-text__heading{
color: #FFF;
font-weight: 600;
}

#home-page-coaches .section-template--14938865434689__292d2bca-865b-4f08-bf73-732508a4bc06-padding .rx_read_more_btn_green{
background: white;
  border: none;
}

/*Fetured consultant section*/

#home-page-coaches #Slide-template--14938865434689__594c240f-ed4c-4768-af6c-be62ff8a2a03-1 .content-container{

    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Component_14_150x.png?v=1688976349) !important;
    background-color: transparent !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
}
#home-page-coaches #Slide-template--14938865434689__594c240f-ed4c-4768-af6c-be62ff8a2a03-2 .content-container{
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Component_15_150x.png?v=1688976349) !important;
    background-color: transparent !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;

}
#home-page-coaches #Slide-template--14938865434689__594c240f-ed4c-4768-af6c-be62ff8a2a03-3 .content-container{
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Component_17_150x.png?v=1688976349) !important;
    background-color: transparent !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;

}
#home-page-coaches #Slide-template--14938865434689__594c240f-ed4c-4768-af6c-be62ff8a2a03-4 .content-container{
    background: var(--gradient-background);
    display: block !important;
    background-attachment: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0017/5443/1553/files/Component_18_150x.png?v=1688976348) !important;
    background-color: transparent !important;
    background-size: auto !important;
    background-repeat: no-repeat;
    background-position-x: right 50px !important;
    background-position-y: center !important;
    padding-left: 20px;
    border: none;
}




/*Editing CSS of live site*/

/*Courses page*/
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 288px;

}


#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text-desc{
	max-width: 760px;

}
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .review60text{

	padding-right: 128px;
}
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .petwellness p{
    margin-top: -7px;
}
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .petwellness.review60text p {
text-align: justify;

}


@media screen and (max-width: 1000px) {
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .petwellness p{
    margin-top: 5px;
}
  #dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .petwellness.review60text {
    text-align: center;
    margin-right: 3%;
   
    
}
  #dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .review60text{

	padding-right: 0px !important;
}
}
@media screen and (max-width: 1150px) {
#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__7d80b91c-0905-4611-affb-51fe2d1dc13f .headingpetwellness {
 
    width: 80%; 
}
}


/*Responsive design*/
@media screen and (max-width: 1628px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 207px;

}
  
}
@media screen and (max-width: 1519px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 152px;

}
}

@media screen and (max-width: 1519px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 152px;

}
}

@media screen and (max-width: 1516px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 65px;

}
}

@media screen and (max-width: 1500px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 64px;

}
}

@media screen and (max-width: 1498px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 64px;

}
}

@media screen and (max-width: 1502px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 143px;

}
}


@media screen and (max-width: 1337px) {

#dr-ruth-pet-wellness-courses-nurturing-pet-wellness-and-holistic-care #shopify-section-template--14923208032321__43e0a268-a273-49f8-aebf-556332935db2 .rx-text{
	margin: auto;
	padding-left: 55px;

}
}


/*Ruths Talks*/
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__db04c4f4-51de-4290-a61a-0abfc410e04c .container .rx-text .rx-text-desc {

    max-width: 804px !important;
}

#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__076f80ac-eb59-4ff5-8321-5e4abc4978de .container .rx-text .rx-text-desc {
    max-width: 795px !important;
}


#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

 margin-left: 282px;
}
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .container .rx-image {
 border-radius: 100px;
}
 #dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .collapsible {

     padding-right: 0px !important;
}


@media screen and (max-width: 1500px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

  margin-left: 200px;
}
}
@media screen and (max-width: 1400px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

  margin-left: 106px;
}
}

@media screen and (max-width: 1407px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

  margin-left: 140px;
}
}
@media screen and (max-width: 1253px) {
.rx-template--14921794945089__bd7ea1b0-5c57-4106-a7e6-a09658dca609 .container .rx-text .rx-text-desc {
  padding-right: 30px;
}
  .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 .container .rx-text .rx-text-desc {
   
}
  .rx-template--14921794945089__c9a2c67f-3a6d-403f-878a-60e098bc9d55 .container .rx-text .rx-text-desc {
    padding-right: 30px;
  }
}
@media screen and (max-width: 1170px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .collapsible p{

    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width: 1100px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

  margin-left: 95px;
}
}
@media screen and (max-width: 950px) {
#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker #shopify-section-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .content{

  margin-left: 0px;
}
  #dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .collapsible p{

    margin-left: auto;
    margin-right: auto;
}
  

}
@media screen and (max-width: 760px) {
 #dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .collapsible {
text-align: center !important;

}

#dr-ruth-roberts-integrative-veterinary-medicine-keynote-speaker .rx-template--14921793273921__ca0c59bb-2d80-4170-9d37-833a328f0ca3 .collabsible-arrow{
 display: none !important;
}
}





/*My Story Page*/
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 .rx-image{
padding-right: 30px;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b{
  max-width: 65% !important;
  margin-left: auto;
  margin-right: auto;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b .container .rx-text {

padding-right: 0px !important;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts #shopify-section-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b .rx-text {
 padding-right: 0px !important;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__bd7ea1b0-5c57-4106-a7e6-a09658dca609{

max-width: 65% !important;
  margin-left: auto;
  margin-right: auto;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__bd7ea1b0-5c57-4106-a7e6-a09658dca609 .container .rx-text {
padding-left: 0px !important;

}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 .container .rx-text {

 
  padding-right: 0px !important;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 {
 max-width: 65% !important;
  margin-left: auto;
  margin-right: auto;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__c9a2c67f-3a6d-403f-878a-60e098bc9d55{
max-width: 65% !important;
  margin-left: auto;
  margin-right: auto;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__c9a2c67f-3a6d-403f-878a-60e098bc9d55 .container .rx-text {
padding-left: 0px !important;

}

@media screen and (max-width: 1255px) {

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b{
  max-width: 100% !important;
   padding-left: 50px;
    padding-right: 50px;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b .container .rx-text {

padding-left: 0px !important;
padding-right: 0px !important;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts #shopify-section-template--14921794945089__09b0af44-a9f1-4a92-a2d0-9addd848789b .rx-text {

}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__bd7ea1b0-5c57-4106-a7e6-a09658dca609{

max-width: 100% !important;
  padding-left: 50px;
    padding-right: 50px;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__bd7ea1b0-5c57-4106-a7e6-a09658dca609 .container .rx-text {
padding-left: 0px !important;
padding-right: 0px !important;

}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 .container .rx-text {

 
  padding-left: 0px !important;
padding-right: 0px !important;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 {
 max-width: 100% !important;
   padding-left: 50px;
    padding-right: 50px;
}
#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__c9a2c67f-3a6d-403f-878a-60e098bc9d55{
max-width: 100% !important;
  padding-left: 50px;
    padding-right: 50px;
}

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__c9a2c67f-3a6d-403f-878a-60e098bc9d55 .container .rx-text {
padding-left: 0px !important;
padding-right: 0px !important;
}
}

/*Pet advice*/
#dr-ruth-roberts-blog-expert-pet-wellness-insights-top-pet-blogs #shopify-section-template--14921793241153__da5d6bea-f7a2-4311-9dfa-c51f9b8cfc8b{
padding-right: 10%;

}
#dr-ruth-roberts-blog-expert-pet-wellness-insights-top-pet-blogs #shopify-section-template--14921793241153__da5d6bea-f7a2-4311-9dfa-c51f9b8cfc8b .blog50{
width: 44% !important;

}
@media screen and (max-width: 1000px) {

#dr-ruth-roberts-blog-expert-pet-wellness-insights-top-pet-blogs #shopify-section-template--14921793241153__da5d6bea-f7a2-4311-9dfa-c51f9b8cfc8b{
padding-right: 0px;

}
}
@media screen and (max-width: 950px) {

#my-holistic-veterinary-healing-story-dr-ruth-roberts .rx-template--14921794945089__ad2b506a-a006-4757-abea-111ff8635172 .rx-image {
    width: 75%!important;
}

}
}







           