<div class="faq-wrapper">
  {% for faq in faqs %}
  <div class="faq-block">
    <img class="faq-image" src="{{ faq.image_url }}" alt="{{ faq.category }}">
    <div class="faq-category">{{ faq.category }}</div>
  </div>
  {% endfor %}
</div>
