<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Page</title>
    <style>
        /* Style for image blocks */
        .faq-block {
            width: 30%;
            margin: 1%;
            float: left;
            text-align: center;
        }

        /* Style for images */
        .faq-image {
            width: 100%;
            height: auto;
        }

        /* Style for FAQ category name */
        .faq-category {
            margin-top: 10px;
            font-size: 18px;
        }

        /* Clear floats */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<body>

<div class="faq-block">
    <img class="faq-image" src="image1.jpg" alt="Image 1">
    <div class="faq-category">Category 1</div>
</div>

<div class="faq-block">
    <img class="faq-image" src
